@page
@model WebApplication2.Pages.Departamentos.GridModel
@{
}

<div class="container">

    <div class="card">
        <div class="card-header">
            Departamentos
        </div>
        <div class="card-body">

            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bx-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridDepartamentos" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id Departamento</th>
                                <th>Descripcion</th>
                                <th>Ubicacion</th>
                                <th>Estado</th>
                                <th>Acción</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GridListDepartamentos)
                            {
                                <tr>
                                    <td>@item.Id_Departamento</td>
                                    <td>@item.Descripcion</td>
                                    <td>@item.Ubicacion</td>
                                    <td>@(item.Estado?"Activo":"Inactivo")</td>
                                    <td>
                                        <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Id_Departamento">
                                            <i class='bx bxs-edit'></i>
                                        </a>

                                        <button type="button" class="btn btn-primary"
                                                onclick="DepartamentosGrid.OnClickEliminar(@item.Id_Departamento)">
                                            <i class='bx bx-trash'></i>
                                        </button>

                                    </td>

                                </tr>

                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var MensajeApp = "@Html.Raw(Model.Mensaje)";
    </script>
    <script defer src="~/App/Departamentos/Grid.js"></script>

}
